<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% load staticfiles %}
    <script src="{% static "browse/js/jquery.min.js" %}"></script>
    <!-- begin bootstrap links -->
    <link rel="stylesheet" href="{% static "browse/bootstrap/css/bootstrap.min.css" %}">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">-->
    <script src="{% static "browse/bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "browse/js/bootstrap-list-filter.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "browse/material/css/bootstrap-material-design.css" %}">
    <script src="{% static "browse/material/js/material.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "browse/material/css/ripples.css" %}">
    <script src="{% static "browse/material/js/ripples.min.js" %}"></script>
    <script>
        $.material.init();
    </script>
</head>
<body>

</body>
</html>