<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Series</title>
</head>
<body>
<div id="form">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="UTF-8">
    <title></title>
    {% load staticfiles %}
    <script src="{% static "browse/js/jquery.min.js" %}"></script>
    <!-- begin bootstrap links -->
    <link rel="stylesheet" href="{% static "browse/bootstrap/css/bootstrap.min.css" %}">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">-->
    <script src="{% static "browse/bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "browse/js/bootstrap-list-filter.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "browse/material/css/bootstrap-material-design.css" %}">
    <script src="{% static "browse/material/js/material.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "browse/material/css/ripples.css" %}">
    <script src="{% static "browse/material/js/ripples.min.js" %}"></script>
    <script>
        $.material.init();
    </script>
    <link rel="stylesheet" href="" id="css-theme"/>
    <script src="" id="js-theme"></script>
    <style>
        p {
            font-size: 16px;
        }

        .form-group label {
            color: #333333;
        }
    </style>
</head>
<body>
<div id="header" class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Biblionexus</a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'browse:index' %}">List Books
                    <div class="ripple-container"></div>
                </a></li>
                <li class="active"><a href="javascript:void(0)">Add Book</a></li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group is-empty">
                    <input id="search" type="text" class="form-control col-md-8" placeholder="Search">
                    <span class="material-input"></span>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="form">
    <form action="" method="POST">
        {% csrf_token %}

        {{ formset.management_form }}
        <div class="form-group">
            <label for="id_form-0-name" class="col-md-1 control-label large"><p>Series Title</p></label>
            <div class="col-md-10">
                {{ formset.0.title }}
            </div>
        </div>
        <br/>
        <div class="form-group">
            <label for="id_form-0-authors" class="col-md-1 control-label large"><p>Authors</p> <span onclick="window.location='{% url 'data:author' %}?from={{ request.path|urlencode }}'" class="glyphicon glyphicon-plus"></span></label>
            <div class="col-md-10">
                {{ formset.0.authors }}
            </div>
        </div>
        <br/>
        <input type="submit" class="btn btn-raised btn-lg" value="Add Series"/>
    </form>
</div>
</body>
</html>
</div>
</body>
</html>