<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="UTF-8">
    <title></title>
    {% load staticfiles %}
    <script src="{% static "browse/js/jquery.min.js" %}"></script>
    <!-- begin bootstrap links -->
    <link rel="stylesheet" href="{% static "browse/bootstrap/css/bootstrap.min.css" %}">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">-->
    <script src="{% static "browse/bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "browse/js/bootstrap-list-filter.min.js" %}"></script>
     <link rel="stylesheet" href="{% static "browse/material/css/bootstrap-material-design.css" %}">
    <script src="{% static "browse/material/js/material.min.js" %}"></script>
    <script>
        $.material.init();
    </script>
    <!-- end bootstrap links -->
</head>
<body>
<div id="header" class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="javascript:void(0)">Biblionexus</a>
              </div>
              <div class="navbar-collapse collapse navbar-inverse-collapse">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="javascript:void(0)">List Books</a></li>
                  <li><a href="javascript:void(0)">Add Book<div class="ripple-container"></div></a></li>
                </ul>
                <form class="navbar-form navbar-left">
                  <div class="form-group is-empty">
                    <input id="search" type="text" class="form-control col-md-8" placeholder="Search">
                  <span class="material-input"></span></div>
                </form>
              </div>
            </div>
          </div>
<div class="list-group" id="booklist">
    {% for book in books_to_display %}
        <a class="list-group-item" href="/read/{{ book.id }}">{{ book.title }} by {{ book.authors.all | join:" and " }}</a>
    {% endfor %}
</div>
<script>
    $('#booklist').btsListFilter('#search', {initial: false});
</script>
</body>
</html>