<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="UTF-8">
    <title></title>
    {% load staticfiles %}
    <script src="{% static "browse/js/jquery.min.js" %}"></script>
    <script src="{% static "read/js/js.cookie.js" %}"></script>
    <!-- begin bootstrap links -->
    <link rel="stylesheet" href="{% static "browse/bootstrap/css/bootstrap.min.css" %}">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">-->
    <script src="{% static "browse/bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "browse/js/bootstrap-list-filter.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "browse/material/css/bootstrap-material-design.css" %}">
    <script src="{% static "browse/material/js/material.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "browse/material/css/ripples.css" %}">
    <script src="{% static "browse/material/js/ripples.min.js" %}"></script>
    <script>
        $.material.init();
    </script>
    <!-- end bootstrap links -->
    <style>
        .large {
            font-size: x-large;
        }

        .form-control-feedback {
            max-height: 28px;
            margin: 0;
            padding: 0;
        }
        span.glyphicon, a{
            top:50%
            vertical-align: middle;
        }
        .row-content:hover{
            background-color: #AAAAAA;
        }
    </style>
    <link rel="stylesheet" href="" id="css-theme"/>
    <script src="" id="js-theme"></script>
</head>
<body>
<div id="header" class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Biblionexus</a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="javascript:void(0)">List Books</a></li>
                <li><a href="{% url 'data:add' %}">Add Book
                    <div class="ripple-container"></div>
                </a></li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group is-empty">
                    <input id="search" type="text" class="form-control col-md-8" placeholder="Search">
                    <span class="material-input"></span>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="list-group" id="booklist">
    {% for book in books_to_display %}
        <div class="list-group-item">
        <div class="row-content" style="height: 100%;" onclick="window.location='{% url 'read:index' book.id %}'"><span class="large">{{ book.title }}
            by {{ book.authors.all | join:" and " }} </span> <a class="large" href="{% url 'data:edit' book.id %}"><span
                class="glyphicon glyphicon-pencil"></span></a> <a class="large" href="{% static "data/books/"%}{{ book.filename }}"><span class="glyphicon glyphicon-download"></span></a></div></div>
    {% endfor %}
</div>
<script>
    $('#booklist').btsListFilter('#search', {initial: false});
</script>
</body>
</html>